
html{
    font-size: 95.5%;
}

/*tipografias*/

/*font-family: 'Comfortaa', cursive;
font-family: 'Montserrat', sans-serif;*/
body{
    background-image: url(../img/historie/paredladrillobco_2560x1440.jpg);
    background-repeat:repeat-y;
    
}
h1{
    color: olive;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    text-decoration: none;
    font-size: 40px;
    background-color: peru;
    border-radius: 20px;
    margin: 5px;
    padding: 10px;
    border: 5px;
}
h1 a{
    color: olive;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    text-decoration: none;
    font-size: 40px;
}
header nav ul li a{
    text-decoration: none;
    color: peru;
    background-color: rgb(157, 199, 181);
    border: 1px;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    font-family: 'Comfortaa', cursive;
    }
header nav ul li{
    list-style: none;
    margin: 5px 5px 5px 5px;
    display: inline
}
nav ul{
    text-align: center;
}

body main section{
    text-align: left;
    color: olive;
    font-family: 'Comfortaa', cursive;
}

footer{
    text-align: left;
    color: olive;
    font-family: 'Comfortaa', cursive;
}
.barra{
    background-color: aquamarine;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    display:flex ;
    flex-direction: column-reverse;
}
.comienzo{
    background-color: rgb(250, 212, 185);
}
.tita{
    background-color: rgb(240, 240, 174);
    
}
.card-titletita{
    background-color: rgb(199, 136, 90);
    text-align: center;
}
.colornav{
    background-color: rgb(205, 216, 216);
}
.alinearcentro{
    text-align: center
}
.navbartita{
    background-color: white;
}
.section div{
    display: flex;
    flex-direction: row;
}
.tamanoicon{
    font-size:4rem;
    padding-top: 4rem;
    color: olive;
}
